
<div>
    <div>
    <InputCheckbox @bind-Value=@IsRead /> @Title
    <p>By: @Author</p>
    <p>Published: @PublishDate.ToString("MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</p>
    <button @onclick="ToggleExpand">Expand</button>
    @if (IsExpanded)
        {
            <div>
                <p>@Description</p>
            </div>
        }
    </div>
</div>



@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public bool IsRead { get; set; } = false;

    [Parameter]
    public string Author { get; set; } = string.Empty;

    [Parameter]
    public DateTime PublishDate { get; set; } = new();

    [Parameter]
    public string Description { get; set; } = string.Empty;

    public bool IsExpanded = false;

    private void ToggleExpand()
    {
        IsExpanded = !IsExpanded;
    }
}
