@page "/"
@using BookTrackerAPI.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Book Tracker</h1>

<ol>
    @foreach (var book in bookList)
    {
        <li><BookListItem Title="@book.Title" IsRead="@book.IsRead" Author="@book.Author" PublishDate="@book.PublishDate" /></li>
    }
</ol>

@code {
    private readonly List<Book> bookList = new() { 
        new Book() { Title = "The Sealed Nectar",  Author = "Ibn Adam", PublishDate = DateTime.Today }, 
        new Book() { Title = "Riyad As-Saliheen",  Author = "Ibn Adam", PublishDate = DateTime.Today, IsRead = true },
        new Book() { Title = "Darussalam Umar pt 1" ,  Author = "Ibn Adam", PublishDate = DateTime.Today }
    };
}