@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Book Tracker</h1>

<ol>
    @foreach (var book in bookList)
    {
        <BookListItem BookTitle="@book" />
    }
</ol>

@code {
    private readonly List<string> bookList = new() { "The Sealed Nectar", "Riyad As-Saliheen", "Darussalam Umar pt 1" };
}